<div class="booking">
  <div class="booking__container">
    <button class="booking__close-btn">
      <span class="booking__close-btn-line"></span>
      <span class="booking__close-btn-line"></span>
    </button>
    <div class="booking__inner">
      <form class="booking__form booking-form" action="handleFormSubmit" method="post">
        <div class="booking-form__inner">
          <div class="booking-form__data">
            <h2 class="booking__header">Booking tickets</h2>
            <h4 class="booking__subheader">Tour to Louvre</h4>
            <div class="booking-form__row booking-form__row_columns">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_date">
                <input class="booking-form__date-text" type="text" name="booking-date-text" placeholder="Date" required>
                <button class="booking-form__arrow-btn" type="button"></button>
                <input class="booking-form__date-input" type="date" name="booking-date" required>
              </div>
              <div class="booking-form__input-wrapper booking-form__input-wrapper_time">
                <input class="booking-form__time-text" type="text" name="booking-time-text" placeholder="Time">
                <button class="booking-form__arrow-btn" type="button"></button>
                <input class="booking-form__time-input" type="time" name="booking-time" min="09:00" max="18:00" step="1800" required>
              </div>
            </div>
            <div class="booking-form__row">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_name">
                <input type="text" name="booking-name" placeholder="Name" required>
              </div>
            </div>
            <div class="booking-form__row">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_email">
                <input type="email" name="booking-email" placeholder="E-mail" required>
              </div>
            </div>
            <div class="booking-form__row">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_phone">
                <input type="tel" name="booking-phone" placeholder="Phone" required>
              </div>
            </div>
            <div class="booking-form__row">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_ticket-type">
                <input class="booking-form__ticket-type-text" type="text" name="booking-ticket-type-text" placeholder="Ticket Type" required>
                <button class="booking-form__arrow-btn" type="button"></button>  
                <select class="booking-form__ticket-type-select" name="booking-ticket-type">
                  <option value="permanent">Permanent exhibition</option>
                  <option value="temporary">Temporary exhibition</option>
                  <option value="combined">Combined Admission</option>
                </select>
                <ul class="booking-form__ticket-type-select-options">
                  <li data-value="permanent">Permanent exhibition</li>
                  <li data-value="temporary">Temporary exhibition</li>
                  <li data-value="combined">Combined Admission</li>
                </ul>
              </div>
            </div>
            <div class="booking-form__row">
              <div class="booking-form__input-wrapper booking-form__input-wrapper_tickets-amount">
                <h3 class="booking-form__tickets-amount-header">Entry ticket</h3>
                <div class="booking-form__tickets-amount-row">
                  <span class="booking-form__number-title">Basic 18+ (<span data-overview="booking-form-basic-price">20</span> &euro;)</span>
                  <span class="booking-form__number">
                    <button class="booking-form__number-btn" data-action="dec" type="button">&#8722;</button>
                    <input class="booking-form__number-input" type="number" name="booking-basic" min="1" max="20" value="1" readonly>
                    <button class="booking-form__number-btn" data-action="inc" type="button">+</button>
                  </span>
                </div>
                <div class="booking-form__tickets-amount-row">
                  <span class="booking-form__number-title">Senior 65+ (<span data-overview="booking-form-senior-price">10</span> &euro;)</span>
                  <span class="booking-form__number">
                    <button class="booking-form__number-btn" data-action="dec" type="button">&#8722;</button>
                    <input class="booking-form__number-input" type="number" name="booking-senior" min="1" max="20" value="1" readonly>
                    <button class="booking-form__number-btn" data-action="inc" type="button">+</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="booking-form__overview">
            <div class="booking-form__overview-header">
              <div class="booking-form__overview-header-info">
                <h3 class="booking-form__overview-title">Overview</h3>
                <h4 class="booking-form__overview-subtitle">Tour to Louvre</h4>
                <ul class="booking-form__overview-summary">
                  <li class="booking-form__overview-summary-item booking-form__overview-summary-item_date" data-overview="date">
                    Friday, August 19
                  </li>
                  <li class="booking-form__overview-summary-item booking-form__overview-summary-item_time" data-overview="time">
                    16 : 30
                  </li>
                  <li class="booking-form__overview-summary-item booking-form__overview-summary-item_ticket-type" data-overview="ticket-type">
                    Temporary exhibition
                  </li>
                </ul>
              </div>
              <div class="booking-form__overview-header-img">
                <img src="<%- require('../pictures/booking/overview.jpg') %>" alt="tour overview picture">
              </div>
            </div>
            <div class="booking-form__overview-total">
              <ul class="booking-form__overview-total-list">
                <li class="booking-form__overview-total-list-item">
                  <span class="booking-form__overview-total-list-item-count" data-overview="basic-count">2</span>
                  <span class="booking-form__overview-total-list-item-title">Basic (<span data-overview="basic-price">20</span> &euro;)</span>
                  <span class="booking-form__overview-total-list-item-amount"><span data-overview="basic-amount">40</span> &euro;</span>
                </li>
                <li class="booking-form__overview-total-list-item">
                  <span class="booking-form__overview-total-list-item-count" data-overview="senior-count">2</span>
                  <span class="booking-form__overview-total-list-item-title">Senior (<span data-overview="senior-price">10</span> &euro;)</span>
                  <span class="booking-form__overview-total-list-item-amount"><span data-overview="senior-amount">20</span> &euro;</span>
                </li>
              </ul>
              <div class="booking-form__overview-total-sum">
                <span class="booking-form__overview-total-sum-title">Total:</span>
                <span class="booking-form__overview-total-sum-amount"><span data-overview="total">60</span> &euro;</span>
              </div>
            </div>
            <div class="booking-form__credit-card credit-card">
              <div class="credit-card__front">
                <div class="credit-card__row">
                  <div class="credit-card__title">
                    Card number
                  </div>
                  <input type="text" name="credit-card-number">
                </div>
                <div class="credit-card__row">
                  <div class="credit-card__title">
                    Expiration date
                  </div>
                  <div class="credit-card__date">
                    <div class="credit-card__month">
                      <!-- <input class="credit-card__month-text" type="text" name="credit-card-month-text">
                      <button class="credit-card__arrow-btn" type="button"></button> -->
                      <input class="credit-card__month-number" type="number" name="credit-card-month" min="1" max="12" value="1" placeholder="1">
                    </div>
                    <div class="credit-card__year">
                      <!-- <input class="credit-card__year-text" type="text" name="credit-card-year-text">
                      <button class="credit-card__arrow-btn" type="button"></button> -->
                      <input class="credit-card__year-number" type="number" name="credit-card-year" min="2022" value="2022" placeholder="2022">
                    </div>
                  </div>                  
                </div>
                <div class="credit-card__row">
                  <div class="credit-card__title">
                    Cardholder Name
                  </div>
                  <input type="text" name="credit-card-number">
                </div>
              </div>
              <div class="credit-card__back">
                <div class="credit-card__stripe"></div>
                <div class="credit-card__cvc">
                  <div class="credit-card__title">
                    CVC/CVV
                  </div>
                  <input type="text" name="credit-card-cvc">
                  <div class="credit-card__cvc-info">
                    The last<br>3 or 4 digits<br>on back<br>of the card
                  </div>
                </div>
              </div>
            </div>
            <button class="booking-form__submit">Book</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>