<section class="contacts section">
  <div class="contacts__container container">
    <h2 class="contacts__header section__header section__header_bottom-line">
      Contacts
    </h2>
    <div class="contacts__content section__content">
      
    </div>
  </div>
</section>