<section class="contacts section" id="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__header section__header section__header_bottom-line">
      Contacts
    </h2>
    <div class="contacts__content section__content">
      <div class="contacts__info">
        <h4 class="contacts__title">Palais Royal<br>Musee du Louvre</h4>
        <p class="contacts__info-row">address: 75001 Paris, France</p>
        <p class="contacts__info-row">phone: +33(0) 1 40 20 50 50</p>
        <p class="contacts__info-row">mail: info@louvre.fr</p>
      </div>
      <div class="contacts__map" id="contacts-map">
        <img src="<%- require('../pictures/map.jpg') %>" alt="google maps">
      </div>
    </div>
  </div>
</section>