<section class="explore section">
  <div class="explore__container container">
    <h2 class="explore__header section__header section__header_dark-bg section__header_bottom-line">
      Picture explore
    </h2>
    <div class="explore__content section__content">
      
    </div>
  </div>
</section>