<footer class="footer">
  <div class="footer__top">
    <div class="footer__container container">
      <div class="footer__top-wrapper">
        <a class="footer__logo logo" href="#">Louvre</a>

        <div class="footer__adaptive-right">
          <nav class="footer__menu-container">
            <ul class="footer__menu">
              <li class="footer__menu-item">
                <a href="#visiting">Visiting</a>
              </li>
              <li class="footer__menu-item">
                <a href="#gallery">Gallery</a>
              </li>
              <li class="footer__menu-item">
                <a href="#explore">Explore</a>
              </li>
              <li class="footer__menu-item">
                <a href="#tickets">Tickets</a>
              </li>
              <li class="footer__menu-item">
                <a href="#video">Video</a>
              </li>
              <li class="footer__menu-item">
                <a href="#contacts">Contacts</a>
              </li>
            </ul>
          </nav>
          <ul class="footer__socials socials">
            <li class="socials__item">
              <a class="socials__link socials__link_youtube" href="#" target="_blank"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link_instagram" href="#" target="_blank"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link_facebook" href="#" target="_blank"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link_twitter" href="#" target="_blank"></a>
            </li>
            <li class="socials__item">
              <a class="socials__link socials__link_pinterest" href="#" target="_blank"></a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <div class="footer__copyright">
        &copy;&nbsp;2021
      </div>
      <div class="footer__school-link">
        <a href="https://rs.school/js">
          The Rolling Scopes School
        </a>
      </div>
      <div class="footer__github-link">
        <a href="https://github.com/tretyakov-a">
          <i class="fab fa-github"></i>
          <span>tretyakov-a</span>
        </a>
      </div>
    </div>
  </div>
</footer>