<footer class="footer">

  <div class="footer__top">
    <div class="footer__container container"></div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <div class="copyright">
        &copy;&nbsp;2021
      </div>
      <div class="footer__school-link">
        <a href="https://github.com/tretyakov-a">
          The Rolling Scopes School
        </a>
      </div>
      <div class="footer__github-link">
        <a href="https://github.com/tretyakov-a">
          <i class="fab fa-github"></i>
          <span>tretyakov-a</span>
        </a>
      </div>
    </div>
  </div>
</footer>