<footer class="footer">
  <div class="footer__top">
    <div class="footer__container container">
      <div class="footer__top-wrapper">
        <a class="footer__logo logo" href="#">Louvre</a>
        <nav class="footer__menu-container">
          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a href="#visiting">Visiting</a>
            </li>
            <li class="footer__menu-item">
              <a href="#gallery">Gallery</a>
            </li>
            <li class="footer__menu-item">
              <a href="#explore">Explore</a>
            </li>
            <li class="footer__menu-item">
              <a href="#tickets">Tickets</a>
            </li>
            <li class="footer__menu-item">
              <a href="#video">Video</a>
            </li>
            <li class="footer__menu-item">
              <a href="#contacts">Contacts</a>
            </li>
          </ul>
        </nav>
        <ul class="footer__socials">
          <li class="footer__socials-item">
            <a class="footer__socials-link footer__socials-link_youtube" href="#"></a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link footer__socials-link_instagram" href="#"></a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link footer__socials-link_facebook" href="#"></a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link footer__socials-link_twitter" href="#"></a>
          </li>
          <li class="footer__socials-item">
            <a class="footer__socials-link footer__socials-link_pinterest" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <div class="copyright">
        &copy;&nbsp;2021
      </div>
      <div class="footer__school-link">
        <a href="https://rs.school/js">
          The Rolling Scopes School
        </a>
      </div>
      <div class="footer__github-link">
        <a href="https://github.com/tretyakov-a">
          <i class="fab fa-github"></i>
          <span>tretyakov-a</span>
        </a>
      </div>
    </div>
  </div>
</footer>