<section class="gallery section">
  <div class="gallery__container container">
    <h2 class="gallery__header section__header section__header_dark-bg">
      Art gallery
    </h2>
    <div class="gallery__content section__content">
      
    </div>
  </div>
</section>