<section class="gallery section" id="gallery">
  <div class="gallery__container container">
    <h2 class="gallery__header section__header section__header_dark-bg">
      Art gallery
    </h2>
    <div class="gallery__content section__content">
      <div class="gallery__wrapper">
        <div class="gallery__bottom-overlay"></div>
        <ul class="gallery__list">
          <li class="gallery__column"></li>
          <li class="gallery__column"></li>
          <li class="gallery__column"></li>
        </ul>
      </div>
    </div>
  </div>
</section>