<header class="header">
  <div class="header__container container">
    <a class="header__logo logo" href="#">
      Louvre
    </a>
    <nav class="header__menu-container">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="#visiting">Visiting</a>
        </li>
        <li class="header__menu-item">
          <a href="#explore">Expolore</a>
        </li>
        <li class="header__menu-item">
          <a href="#video">Video</a>
        </li>
        <li class="header__menu-item">
          <a href="#gallery">Gallery</a>
        </li>
        <li class="header__menu-item">
          <a href="#tickets">Tickets</a>
        </li>
        <li class="header__menu-item">
          <a href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>