<ul class="socials">
  <li class="socials__item">
    <a class="socials__link socials__link_youtube" href="https://www.youtube.com/user/louvre" target="_blank"></a>
  </li>
  <li class="socials__item">
    <a class="socials__link socials__link_instagram" href="https://www.instagram.com/museelouvre" target="_blank"></a>
  </li>
  <li class="socials__item">
    <a class="socials__link socials__link_facebook" href="https://www.facebook.com/museedulouvre" target="_blank"></a>
  </li>
  <li class="socials__item">
    <a class="socials__link socials__link_twitter" href="http://twitter.com/museelouvre" target="_blank"></a>
  </li>
  <li class="socials__item">
    <a class="socials__link socials__link_pinterest" href="https://www.pinterest.fr/museedulouvre" target="_blank"></a>
  </li>
</ul>