<section class="tickets section">
  <div class="tickets__container container">
    <h2 class="tickets__header section__header section__header_bottom-line">
      Buy tickets
    </h2>
    <div class="tickets__content section__content">
      
    </div>
  </div>
</section>