<section class="video section">
  <div class="video__container container">
    <h2 class="video__header section__header">
      Video journey
    </h2>
    <div class="video__content section__content">
      
    </div>
  </div>
</section>