.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  color: $bg-dark-color;
  background: none;
  transform: translateX(100%);
  overflow: auto;

  $delay: 0.4s;

  @keyframes bookingSlideIn {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes bookingSlideOut {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  &_show {
    animation: $delay bookingSlideIn linear forwards;
    transition-delay: $delay;
    background: rgba(0, 0, 0, 0.5);
  }

  &_hide {
    animation: $delay bookingSlideOut linear forwards;
    background: none;
  }

  &__close-btn {
    $size: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    width: $size;
    height: $size;
    
    &:hover {
      .booking__close-btn-line {
        background-color: $ui-color;
      }
    }

    &-line {
      display: block;
      position: absolute;
      left: -5px;
      top: $size / 2;
      height: 1px;
      width: 35px;
      background-color: $bg-dark-color;
      transition: 0.2s;
    }
    
    &-line:nth-child(1) {
      transform: rotate(-45deg);
    }

    &-line:nth-child(2) {
      transform: rotate(45deg);
    }
  }

  &__container {
    position: relative;
    min-height: 845px;
    height: fit-content;
    flex: 0 1 $container-width;
    max-width: $container-width;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: $bg-light-color;
  }

  &__inner {
    flex: 0 1 970px;
  }

  &__header {
    padding-top: 41px;
    margin-bottom: 15px;
    font-family: $header-font;
    color: $header-color;
    font-size: 50px;
    line-height: 55px;
    font-weight: normal;
    text-transform: uppercase;
    background: no-repeat url("../assets/logo-gold.svg");
    background-size: 85px 41px;
  }

  &__subheader {
    width: 100%;
    margin-bottom: 60px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: $ui-color;

    &::after {
      content: "";
      display: block;
      height: 13px;
      border-bottom: 3px solid $ui-color;
    }
  }
}

.booking-form {
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__data {
    flex: 0 1 400px;
    margin-right: 40px;
  }

  &__overview {
    flex: 0 1 530px;
  }

  &__row {
    width: 100%;
    margin-bottom: 20px;

    &_columns {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__arrow-btn {
    flex: 1 0 43px;
    display: block;
    height: 100%;
    border: none;
    outline: none;
    background: no-repeat url("../assets/booking/arrow.svg");
    background-position: center center;
    pointer-events: none;
  }

  input, select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    &::placeholder {
      color: $bg-dark-color;
    }
  }

  &__date-input,
  &__time-input,
  &__ticket-type-select {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &::-webkit-calendar-picker-indicator {
      margin: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
    &::-webkit-datetime-edit {
      display: none;
    }
  }

  &__ticket-type-select-options {
    position: absolute;
    top: 100%;
    left: -1px;
    width: calc(100% + 2px);
    border: 1px solid var(--bg-dark-color);
    // border-top: none;
    background: $bg-light-color;
    box-shadow: 0px 2px 3px 0px $bg-dark-color;
    z-index: 0;
    opacity: 0;

    &_show {
      z-index: 2;
      opacity: 1;
      transition: 0.2s;
    }

    li {
      height: 45px;
      padding: 12px 0px;
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;
      padding-left: 43px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background: #e7e7e7;
      }

      &.active {
        background: #e7e7e7;
      }
    }
  }

  &__input-wrapper {
    position: relative;
    // overflow: hidden;
    height: 45px;
    padding-left: 43px;
    background-repeat: no-repeat;
    background-position: left 15px center;
    border: 1px solid $bg-dark-color;

    input {
      padding-right: 15px;
    }

    &_date, &_time {
      flex-basis: calc((100% - 20px) / 2);
      input {
        padding-right: 0px;
      }
    }

    &_date, &_time, &_ticket-type {
      display: flex;

      input[type="text"] {
        flex: 1 1 auto;
        padding-right: 0px;
        pointer-events: none;
      }
    }

    &_date {
      margin-right: 20px;
      background-image: url("../assets/booking/date.svg");
    }
    
    &_time {
      background-image: url("../assets/booking/time.svg");
    }

    &_name {
      background-image: url("../assets/booking/name.svg");
    }

    &_email {
      background-image: url("../assets/booking/email.svg");
    }

    &_phone {
      background-image: url("../assets/booking/tel.svg");
    }

    &_ticket-type {
      background-image: url("../assets/booking/ballot.svg");
    }

    &_tickets-amount {
      padding: 10px 15px 15px;
      height: 135px;
      
      input {
        display: inline-block;
        flex: 1 1 auto;
        text-align: center;
        padding: 0px;

        &::-webkit-inner-spin-button {
          display: none;
        }
      }
    }
  }

  &__tickets-amount-header {
    font-family: $header-font;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-transform: capitalize;
    color: $header-color;
    margin-bottom: 15px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 7px;
      border-bottom: 2px solid $ui-color;
    }
  }

  &__tickets-amount-row {
    height: 25px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__number-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

  &__number {
    width: 105px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid $bg-dark-color;

    &-btn {
      display: inline-block;
      flex: 1 0 35px;
      height: 100%;
      color: $light-text-color;
      background: $bg-dark-color;
    }
  }

  &__overview {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    border: 1px solid $bg-dark-color;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 22px;

      &-info {
        flex: 1 1 auto;
        margin-right: 20px;
      }

      &-img {
        img {
          display: block;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    &-title {
      font-weight: 500;
      font-size: 32px;
      line-height: 37px;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 22px;
      line-height: 26px;
      color: $ui-color;
      margin-bottom: 10px;
    }
    
    &-not-choosen {
      opacity: 0.5;
      color: $ui-color;
    }

    &-summary {
      font-weight: 300;
      font-size: 18px;
      line-height: 21px;

      &-item {
        height: 22px;
        margin-bottom: 5px;
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left top 2px;

        &_date {
          background-image: url("../assets/booking/date.svg");
        }

        &_time {
          background-image: url("../assets/booking/time.svg");
        }

        &_ticket-type {
          background-image: url("../assets/booking/arrow.svg");
        }
      }
    }

    &-total {
      margin-bottom: 10px;

      &-list {
        margin-bottom: 10px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          background: $ui-color;
        }

        &-item {
          height: 20px;
          margin-bottom: 12px;
          display: flex;
          justify-content: stretch;
          align-items: center;
          font-size: 22px;
          line-height: 26px;
          font-weight: normal;

          &-count {
            flex: 0 0 32px;
            margin-right: 10px;
            font-size: 18px;
            line-height: 21px;
            color: #a4a4a3;
            background: $bg-dark-color;
            text-align: center;
            border-radius: 5px;
          }

          &-title {
            justify-self: flex-start;
            flex: 1 1 auto;
            margin-right: 10px;
          }

          &-amount {
            flex: 0 0 auto;
          }
        }
      }

      &-sum {
        display: flex;
        justify-content: space-between;

        &-title {
          font-weight: normal;
          font-size: 32px;
          line-height: 37px;
        }

        &-amount {
          font-weight: 500;
          font-size: 32px;
          line-height: 37px;
        }
      }

    }
  }

  &__submit {
    align-self: flex-end;
    width: 100%;
    max-width: 220px;
    height: 45px;
    background: $ui-color;
    color: $light-text-color;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    transition: $animation-duration ease-in;

    &:hover {
      background-color: $header-color;
    }
  }
}

.credit-card {
  position: relative;
  height: 241px;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #161615;

  input, select {
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    background: $bg-light-color;
    border: 1px solid #a4a4a3;
  }

  &__front,
  &__back {
    max-width: 360px;
    width: 100%;
    height: 211px;
    padding: 15px 20px;
    border-radius: 5px;
  }


  &__front {
    position: relative;
    z-index: 2;
    background: url("../assets/booking/visa.svg"), url("../assets/booking/mastercard.svg"), #bcbcbc;
    background-repeat: no-repeat, no-repeat;
    background-position: right 20px top 34px, right 20px top 65px;
    background-size: 55px, 53px;
  }

  &__row:not(:last-child) {
    width: 100%;
    max-width: 215px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__date {
    display: flex;
    justify-content: space-between;
  }

  &__month,
  &__year {
    position: relative;
    flex: 1 1 calc((100% - 15px) / 2);
    display: flex;

    input[type="text"] {
      flex: 1 1 auto;
      padding-right: 0px;
      pointer-events: none;
    }

    select {
      position: absolute;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__month {
    margin-right: 15px;
  }

  &__arrow-btn {
    flex: 1 0 28px;
    display: block;
    height: 100%;
    border: 1px solid #a4a4a3;
    border-left: none;
    outline: none;
    background: url("../assets/booking/card-select-arrow.svg"), $bg-light-color;
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;
  }

  &__back {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #939393;
  }

  &__stripe {
    background: #161615;
    height: 45px;
    margin: 10px -20px 15px;
  }
  
  &__cvc {
    width: 75px;
    align-self: flex-end;
    padding-left: 9px;
    text-align: left;

    input {
      width: 75px;
      margin-left: -9px;
    }
  }

  &__cvc-info {
    margin-top: 6px;
  }
}

@media (max-width: calc(#{$adaptive-width-pc} + 100px)) {
  .booking {
    &__container {
      // height: 768px;
      padding-top: 75px;
      align-items: flex-start;
    }
  }
}

@media (max-width: 1000px) {
  .booking {
    overflow: auto;
    align-items: flex-start;
    
    &__container {
      flex: 0 1 590px;
      max-width: 590px;
      padding-top: 30px;
    }
  }

  .booking-form {
    &__inner {
      display: flex;
      flex-direction: column;
      max-width: 530px;
    }

    &__data {
      flex: 0 1 100%;
      margin-right: 0px;
    }

    &__overview {
      flex: 0 1 100%;
      padding: 25px 15px;
    }
  }
}

@media (max-height: 768px) {
  .booking {
    align-items: stretch;
  }
}

@media (max-width: $adaptive-width-tablet) {
}

@media (max-width: 600px) {
  .credit-card {
    height: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__back {
      position: static;
      margin-top: 20px;
    }
  }

  .booking-form {
    &__row {
      &_columns {
        flex-direction: column;
      }
    }

    &__input-wrapper {
      &_date {
        margin-right: 0px;
        margin-bottom: 20px;
      }

      &_date, &_time {
        flex-basis: auto;
      }
    }
  }
}

@media (max-width: $adaptive-width-phone) {
  .booking {
    &__header {
      font-size: 32px;
      line-height: 35px;
    }

    &__subheader {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 440px) {
  .booking {
    &__close-btn {
      right: 15px;
    }

    &__container {
      padding: 15px;
      padding-top: 30px;
    }
  }
  .credit-card {
    &__front {
      background: none, none, #bcbcbc;
    }
  }
  .booking-form {

    &__overview-header-img {
      display: none;
    }
  }
}