@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;400;700&display=swap');

:root {
  --light-text-color: white;
  --dark-text-color: black;
  --header-color: #9d8665;
  --ui-active-color: #d2b183;
  --ui-color: #710707;
  --bg-dark-color: #030303;
  --bg-light-color: white;

  --main-font: 'Roboto', sans-serif;
  --header-font: 'Forum', sans-serif;

  --font-size: 18px;

  --header-height: 150px;
  --welcome-height: 810px;
  --general-gap: 75px;
  --video-controls-height: 85px;
}

$hamburger-size: 32px;
$container-width: 1440px;
$container-padding: 20px;
$general-gap: var(--general-gap);
$header-height: var(--header-height);
$welcome-height: var(--welcome-height);
$video-controls-height: var(--video-controls-height);

$animation-duration: 0.2s;

$bg-light-color: var(--bg-light-color);
$bg-dark-color: var(--bg-dark-color);
$header-color: var(--header-color);
$header-color-dark-bg: var(--light-text-color);
$ui-active-color: var(--ui-active-color);
$ui-color: var(--ui-color);
$dark-text-color: var(--dark-text-color);
$light-text-color: var(--light-text-color);

$main-font: var(--main-font);
$header-font: var(--header-font);
$font-size: var(--font-size);

$adaptive-width-pc: 1024px;
$adaptive-width-tablet: 768px;
$adaptive-width-phone: 420px;


@media (max-width: $adaptive-width-pc) {
  :root {
    --header-height: 130px;
    --welcome-height: 585px;
    --general-gap: 60px;
    --video-controls-height: 60px;
  }
}

@media (max-width: $adaptive-width-tablet) {
  :root {
    --header-height: 110px;
    --welcome-height: auto;
    --general-gap: 40px;
    --video-controls-height: 53px;
  }
}

@media (max-width: $adaptive-width-phone) {
  :root {
    --header-height: 90px;
    --video-controls-height: 50px;
  }
}