.contacts {
  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    flex-basis: 29.16%;
  }

  &__title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
  }

  &__info-row {
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
  }

  &__map {
    flex-basis: 66.66%;

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .contacts {
    &__title {
      margin-bottom: 35px;
      font-size: 24px;
      line-height: 28px;
    }
  
    &__info-row {
      margin-bottom: 15px;
      font-size: 20px;
      line-height: 23px;
    }

    &__info {
      flex: 1 1 auto;
      margin-right: 30px;
    }

    &__map {
      flex: 1 0 70.53%;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .contacts {

    &__content {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 40px;
      font-size: 20px;
      line-height: 23px;
    }
  
    &__info-row {
      font-size: 18px;
      line-height: 21px;
    }

    &__info {
      flex: 1 1 100%;
      margin-bottom: 40px;
    }

    &__map {
      flex: 1 1 100%;
    }
  }
}

@media (max-width: $adaptive-width-phone) {
  
}