$container-gap: 60px;

.explore {
  background: $bg-dark-color;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  
  &__left {
    flex-basis: 45.83%; // 660px
  }

  &__right {
    flex-basis: 50%; // 720px
    margin-top: 15px;
  }

  &__content {
    p {
      color: $light-text-color;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
      margin-bottom: 25px;

    }
  }
}

.comparing-slider {
  width: 100%;
  position: relative;

  &__control {
    position: absolute;
    right: -23px;
    top: 0;
    width: 40px;
    height: 100%;
    background: no-repeat url("../assets/explore-slider.svg");
    z-index: 2;
    cursor: pointer;
    transition: $animation-duration;

    &:hover {
      filter: invert(55%) sepia(29%) saturate(387%) hue-rotate(356deg) brightness(150%) contrast(91%);
    }
  }
  
  &__before,
  &__after {
    width: 100%;
  }

  &__before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  &__after {
    position: relative;
  }
}

@media (max-width: $adaptive-width-pc) {
  .explore {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      margin-bottom: 62px;

      p {
        font-size: 20px;
        line-height: 38px;
        margin-bottom: 0px;

        &:nth-child(3) {
          display: none;
        }
      }
    }

    &__left {
      flex-basis: 100%;
    }
  
    &__right {
      flex: 0 1 720px;
    }
  }

  .comparing-slider {
  }
}

@media (max-width: $adaptive-width-tablet) {
  
}

@media (max-width: $adaptive-width-phone) {
  
}