$container-gap: 60px;

.explore {
  background: $bg-dark-color;

  &__container {
    display: flex;
    justify-content: space-between;
  }
  
  &__left {
    flex-basis: 45.83%; // 660px
  }

  &__right {
    flex-basis: 50%; // 720px
    margin-top: 15px;
  }

  &__content {
    p {
      color: $light-text-color;
      font-style: normal;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;
      margin-bottom: 25px;

    }
  }
}

.comparing-slider {
  width: 100%;
  position: relative;

  &__control {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 42px;
    z-index: 4;
    cursor: pointer;

    svg {
      display: block;
      height: 100%;
      width: 100%;
      object-position: center center;
      user-select: none;
      fill: $bg-light-color;
    }

    &_active,
    &:hover {
      svg {
        fill: $ui-active-color;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
  }


  &__after,
  &__before {
    height: 100%;
    pointer-events: none;
    user-select: none;
  }

  &__after {
    width: 100%;
  }

  &__before {
    position: absolute;
    left: 2px;
  }
  
  &__before-container {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

@media (max-width: $adaptive-width-pc) {
  .explore {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__content {
      margin-bottom: 62px;

      p {
        font-size: 20px;
        line-height: 38px;
        margin-bottom: 0px;

        &:nth-child(3) {
          display: none;
        }
      }
    }

    &__left {
      flex-basis: 100%;
    }
  
    &__right {
      flex: 0 1 auto;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .explore {

    &__left {
      width: 100%;
    }

    &__content {
      display: none;
    }
  }
}

@media (max-width: $adaptive-width-phone) {
  
}