.gallery {
  background: $bg-dark-color;
  padding-bottom: 0 !important;
  
  &__content {
    position: relative;
    padding-top: 136.11%;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

  &__bottom-overlay {
    position: absolute;
    height: 360px;
    width: 100%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, $bg-dark-color 100%);
  }

  &__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
  }

  &__item {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 24px;

    transform: translateY(100px);
    opacity: 0;
    transition: 0.6s all ease-in;

    &_active {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  &__column {
    flex-basis: calc((100% - 2 * 36px) / 3);

    &:nth-child(1), &:nth-child(3) {
      margin-top: 50px;
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .gallery {
    &__content {
      padding-top: 148.37%;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .gallery {
    &__column {
      flex-basis: calc((100% - 24px) / 2);

      &:nth-child(3) {
        display: none;
      }
    }
  }
}

@media (max-width: $adaptive-width-phone) {
  
}
