*, ::before, ::after, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--dark-text-color);
  background-color: var(--bg-light-color);
  font-size: $font-size;
  font-weight: 200;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
  transition: 0.2s;
}
a:hover {
  color: $header-color;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: $container-width + 2 * $container-padding;
  margin: 0 auto;
  padding: 0 $container-padding;
  height: 100%;
}

.logo {
  display: block;
  width: 200px;
  height: 33px;
  padding-left: 74px;
  font-family: $header-font;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url("../assets/logo.svg") no-repeat;
}

.section {
  &:not(.welcome) {
    padding: $general-gap 0;
  }

  &__header {
    position: relative;
    color: $header-color;
    font-family: $header-font;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: $general-gap;
    text-align: left;

    &_dark-bg {
      color: $light-text-color;
    }
    
    &_bottom-line {
      &::after {
        content: "";
        display: block;
        height: 28px;
        border-bottom: 3px solid $ui-color;
      }
    }
  }
}

.parallax {
  width: 100%;
  height: 400px;
  background: url("../pictures/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: $adaptive-width-pc) {
  .section {
  
    &__header {
      font-size: 50px;
      line-height: 75px;
  
      &_dark-bg {
        color: $light-text-color;
      }
      
      &_bottom-line {
        &::after {
          height: 23px;
        }
      }
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  
}

@media (max-width: $adaptive-width-phone) {
  
}