*, ::before, ::after, h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--dark-text-color);
  background-color: var(--bg-light-color);
  font-size: $font-size;
  font-weight: 200;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
  transition: 0.2s;
}
a:hover {
  color: $header-color;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: $container-width + 2 * $container-padding;
  margin: 0 auto;
  padding: 0 $container-padding;
  height: 100%;
}

.logo {
  display: block;
  width: 200px;
  height: 33px;
  padding-left: 74px;
  font-family: $header-font;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url("../assets/logo.svg") no-repeat;
}

.section {
  &:not(.welcome) {
    padding: $general-gap 0;
  }

  &__header {
    position: relative;
    color: $header-color;
    font-family: $header-font;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: $general-gap;
    text-align: left;

    &_dark-bg {
      color: $light-text-color;
    }
    
    &_bottom-line {
      &::after {
        content: "";
        display: block;
        height: 28px;
        border-bottom: 3px solid $ui-color;
      }
    }
  }
}

.parallax {
  width: 100%;
  height: 400px;
  background: url("../pictures/parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__item:not(:last-child) {
    margin-right: 5px;
  }

  &__link {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid #666666;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;

    &:hover {
      filter: invert(55%) sepia(29%) saturate(387%) hue-rotate(356deg) brightness(150%) contrast(91%);
    }

    &_youtube {
      background-image: url("../assets/socials/youtube.svg");
    }
    &_instagram {
      background-image: url("../assets/socials/instagram.svg");
    }
    &_facebook {
      background-image: url("../assets/socials/facebook.svg");
    }
    &_twitter {
      background-image: url("../assets/socials/twitter.svg");
    }
    &_pinterest {
      background-image: url("../assets/socials/pinterest.svg");
    }
  }
}

@media (max-width: $adaptive-width-pc) {
  .section {
  
    &__header {
      font-size: 50px;
      line-height: 75px;
  
      &_bottom-line {
        &::after {
          height: 23px;
        }
      }
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .section {
  
    &__header {
      font-size: 40px;
      line-height: 60px;
    }
  }

  .parallax {
    height: 300px;
  }

}

@media (max-width: $adaptive-width-phone) {
  .section {
  
    &__header {
      font-size: 28px;
      line-height: 40px;
    }
  }

  .logo {
    font-size: 16px;
    line-height: 18px;
    width: 133px;
    height: 20px;
    padding-left: 54px;
    background-size: 29px 16px;
  }
}