*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--dark-text-color);
  background-color: var(--bg-light-color);
  font-size: $font-size;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--light-text-color);
  transition: 0.2s;
}
a:hover {
  color: $header-color;
}

img {
  display: block;
}

ul {
  list-style: none;
}

.container {
  max-width: $container-width + 2 * $container-padding;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.logo {
  display: block;
  width: 200px;
  height: 33px;
  padding-left: 74px;
  font-family: $header-font;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background: url("../assets/logo.svg") no-repeat;
}