@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'normalize.css';

@import "constants";
@import "mixins";
@import "general";
@import "header";
@import "footer";
@import "welcome";
@import "visiting";
@import "explore";
@import "video";
@import "gallery";
@import "tickets";
@import "contacts";
