.tickets {

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 50%; // 720px

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__right {
    flex-basis: 45.83%; // 660px
  }
}

.tickets-form {

  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;

  label {
    display: block;
  }

  &__type {
    .tickets-form__title {
      margin-bottom: 50px;
    }

    label {
      position: relative;
      margin-bottom: 25px;
      padding-left: 40px;
      cursor: pointer;

      span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 4px;
        width: 17px;
        height: 17px;
        border: 2px solid $dark-text-color;
        border-radius: 50%;
      }
    }

    input {
      display: none;

      &:checked + span::after {
        content: "";
        width: 7px;
        height: 7px;
        background: $dark-text-color;
        border-radius: 50%;
      }
    }
  }

  &__amount {
    text-align: right;

    label {
      text-align: left;
      width: 150px;
    }
  }

  &__number {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    border: 3px solid $dark-text-color;
    display: inline-flex;
    align-items: center;

    &-dec, &-inc {
      flex: 0 0 46px;
      font-weight: normal;
      font-size: 32px;
      line-height: 37px;
    }

    &-input {
      all: unset;
      text-align: center;
      flex: 1 1 auto;
      
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }

  &__total {
    letter-spacing: 1.65px;
    margin-bottom: 60px;
  }

  &__counters {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    label {
      margin-bottom: 10px;
    }
  }

  &__submit {
    width: 175px;
    height: 50px;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    background: $bg-dark-color;
    color: $light-text-color;
    border-radius: 2px;
    transition: $animation-duration;
  }

  &__submit:hover {
    color: $light-text-color;
    background: $header-color;
  }
}


@media (max-width: $adaptive-width-pc) {
  .tickets {
    &__content {
      display: flex;
      justify-content: space-between;
    }
  
    &__left {
      flex: 1 1 auto;
  
      img {
        height: 100%;
      }
    }
  
    &__right {
      flex: 0 0 175px;
      padding-right: 29px;
      margin-left: 80px;
    }
  }

  .tickets-form {
    height: 440px;

    &__type {
      display: none;
    }

    &__title {
      text-align: left;
    }

    &__counters {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 0px;
  
      label {
        margin-bottom: 25px;
      }
    }

    &__amount {
      
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
  
      label {
        text-align: left;
        width: 100%;
      }
    }

    &__submit-container {
      flex: 1 1 100%;
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (max-width: $adaptive-width-tablet) {
  .tickets {
    &__left {
      img {
        height: auto;
      }
    }

    &__right {
      padding-right: 49px;
    }
  }

  .tickets-form {
    height: 430px;

    &__counters {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-bottom: 0px;
  
      label {
        margin-bottom: 25px;
      }
    }

    &__amount {
      
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-items: stretch;
  
      label {
        text-align: left;
        width: 100%;
      }
    }

    &__submit-container {
      flex: 1 1 100%;
      display: flex;
      align-items: flex-end;
    }
  }
}

@media (max-width: 560px) {
  .tickets {
    &__content {
      flex-direction: column;
    }

    &__left {
      margin-bottom: 40px;
      img {
        height: 160px;
      }
    }

    &__right {
      padding-right: 0px;
      margin-left: 0px;
    }
  }

  .tickets-form {
    height: 376px;
    font-size: 16px;
    line-height: 19px;
    justify-content: center;
    
    &__title {
      margin-bottom: 20px;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
    }

    &__counters {
      margin-bottom: 20px;
  
      label {
        margin-bottom: 20px;
      }
    }

    &__submit {
      font-size: 16px;
    }
  }
}