$vertical-gap: 75px;
$horizontal-gap: 60px;

.visiting {
  &__list {
    margin-bottom: -$vertical-gap;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: $vertical-gap;
    flex-basis: calc((100% - #{$horizontal-gap} * 2) / 3);

    a {
      display: block;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $dark-text-color;
      font-weight: normal;
      letter-spacing: 0px;
    }

    a:hover {
      filter: brightness(80%);
      
      .visiting__title::after {
        width: 100%;
      }
    }
  }

  &__img {
    display: block;
    width: 100%;
    height: 285px;
    object-fit: cover;
    margin-bottom: 25px;
  }

  &__title {
    width: 100%;
    margin-bottom: 10px;
    font-family: $header-font;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &::after {
      display: block;
      content: "";
      width: 300px;
      height: 12px;
      border-bottom: 2px solid $ui-color;
      transition: $animation-duration ease-in;
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
  }

  &__text {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
  }
}