.welcome {
  height: 810px;
  background: $bg-dark-color;
  color: $header-color-dark-bg;

  &__container {
    position: relative;
    padding-top: 150px;
  }

  &__slider {
    position: absolute;
    right: 0px + $container-padding;
    top: 0;
    height: 100%;
    width: 1000px;
    z-index: 1;
  }

  &__inner {
    position: relative;
    width: 598px;
    z-index: 2;
  }

  &__title {
    margin-bottom: 25px;
    font-family: $header-font;    
    font-size: 80px;
    line-height: 90px;
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  &__subtitle {
    margin-bottom: 75px;
    font-size: 28px;
    line-height: 33px;
  }

  &__discover-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 75px;
    border-radius: 10px;
    background: $ui-color;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: $header-color-dark-bg;

    &:hover {
      background: $header-color;
      color: $light-text-color;
    }
  }
}

.welcome-slider {

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $bg-dark-color 0%, rgba(0, 0, 0, 0.5) 16%, rgba(0, 0, 0, 0) 31%);
    z-index: 2;
  }

  &__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 75px;
    background: $bg-dark-color;
    z-index: 1;
  }

  &__counter {
    font-weight: normal;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    margin-right: 55px;
  }

  &__dots-group {
    display: flex;
    margin-right: 60px;
  }

  &__dot {
    width: 16px;
    height: 16px;
    background: $bg-light-color;
    transition: $animation-duration;
    
    &_active {
      background: $ui-active-color;
    }

    &:not(:last-child) {
      margin-right: 25px;
    }

    &:hover {
      background: $header-color;
    }
  }

  &__prev-btn,
  &__next-btn {
    width: 30px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: $animation-duration;

    &:hover {
      filter: invert(55%) sepia(29%) saturate(387%) hue-rotate(356deg) brightness(150%) contrast(91%);
    }
  }

  &__prev-btn {
    margin-right: 20px;
    background-image: url("../assets/left.svg");
  }

  &__next-btn {
    background-image: url("../assets/right.svg");
  }

  &__list {
    position: relative;
    overflow: hidden;
    display: flex;
  }
}